.layout {
  display: flex;
  height: calc(100vh - 3rem); /* altura del header */
}

.content {
  flex: 1;
  overflow: auto;
}

.aside-content {
  flex: 1;
  overflow: auto;
}

.aside-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding-top: 0.5rem;
}

.drawer-content {
  width: 280px;
  height: 100%;
  padding: 1rem;
}

.sidenav-item:hover {
  background:
    radial-gradient(
      circle at top,
      rgba(56, 189, 248, 0.12),
      transparent 60%
    ),
    linear-gradient(
      180deg,
      #020617 0%,
      #0b1220 100%
    ) !important;
}
.header-spacer {
  flex: 1;
}
