.deck-header {
  display: flex;
  align-items: center;    
  justify-content: space-between;
  gap: 16px;             
  margin-bottom: 1rem;      
}

.card-container {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.089);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animate transform and shadow */
    border-radius: 8px; /* optional, smooth corners */
}

.card-container:hover {
    transform: translateY(-5px) scale(1.02); /* Slight lift and grow */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Soft shadow on hover */
}