<main class="bg-page">

  <div class="container">
    <h1 class="main-title typing"> Lumen
    </h1>
    <div class="divider"></div>
    <h2 class="lumen-font" style="margin-top: 5rem; margin-bottom: 2rem;">Take notes, increment your productivity, easy.</h2>

    <button tuiButton appearance="outline" size="l" class="white-button" type="button" (click)="navigateTo('register')">
      Dive into Lumen ✨
    </button>

    <h3 class="lumen-font divider-text">
      Already have an account?
    </h3>

    <button tuiButton appearance="outline" size="m" class="white-button " type="button" (click)="navigateTo('login')">
      Log In
    </button>

  </div>

</main>