

<tui-stepper [activeItemIndex]="activeIndex()" style="width: 90%;"
orientation="horizontal"
tuiConnected
>
    <button tuiStep [disabled]="true" class="step">Choose Deck</button>
    <button tuiStep [disabled]="true" class="step">Card Front</button>
    <button tuiStep [disabled]="true" class="step">Card Back</button>
    <button tuiStep [disabled]="true" class="step">Summary</button>

</tui-stepper>

<br>

@if (activeIndex()==0) {

  <h1 class="lumen-font"> Pick a Deck</h1>
  <tui-textfield tuiChevron [stringify]="stringify" style="width: 90%;">
    <input 
    class="lumen-font-small"
        placeholder="Browse Decks"
        tuiComboBox
        [(ngModel)]="selectedDeck"
    />
    <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [items]="decks() | tuiFilterByInput"
    />

    <button type="button" tuibutton (click)="showDialog()">
    	    <tui-icon
	        icon="@tui.plus"
	        style="color: var(--tui-status-positive); pointer-events: none"
	    />

    </button>
</tui-textfield>

	 

	<ng-template
	    let-observer
	    [tuiDialogOptions]="{label: 'Create new deck', size: 'm'}"
	    [(tuiDialog)]="modalOpen"
	>
    <tui-textfield style="margin-top: 2rem;">
      <input
      style="width: 100%;"
        tuiTextfield
        class="lumen-font"
        placeholder="Deck Name"
        [(ngModel)]="newDeckName"
      />
    </tui-textfield>
	            <button style="margin-top: 2rem; width: 100%; background-color: var(--tui-background-accent-2); color: white;"
	                tuiButton
                  (click)="saveDeck()"
                  [disabled]="(savingDeck() || !newDeckName())"
	                type="submit"
	            >
	                Save
	            </button>
	</ng-template>

}
@if (activeIndex()==1) {
<section id="frontCardSection">

  <quill-editor class="quill"
  [(ngModel)]="fronthtml"
  [modules]="modules"
  theme="snow"
  [sanitize]="true"
  >
  </quill-editor>

</section>

}

@if (activeIndex()==2) {
<section id="backCardSection">

<quill-editor class="quill"
  [(ngModel)]="backhtml"
  [modules]="modules"
  theme="snow"
  [sanitize]="true"
  >
  </quill-editor>

  {{backhtml}}
</section>
}

@if (activeIndex()==3) {
<section id="summarySection" style="margin-top: 2rem; display: flex; flex-direction: column; gap: 2rem;">

  <!-- Nombre -->
  <div>
    <h3 class="lumen-font-small">Deck Name</h3>
    <tui-textfield >
      <input
      style="width: 90%;"
        tuiTextfield
        class="lumen-font"
        [ngModel]="selectedDeck()?.name"
        [readOnly]="true"
      />
    </tui-textfield>
  </div>

  <!-- Card Front -->
  <div>
    <h3 class="lumen-font-small">Card Front</h3>
    <quill-editor
      class="quill"
      [ngModel]="fronthtml"
      theme="snow"
      [readOnly]="true"
      [modules]="{ toolbar: false }"
      [sanitize]="true">
    </quill-editor>
  </div>

  <!-- Card Back -->
  <div>
    <h3 class="lumen-font-small">Card Back</h3>
    <quill-editor
      class="quill"
      [ngModel]="backhtml"
      theme="snow"
      [readOnly]="true"
      [modules]="{ toolbar: false }"
      [sanitize]="true">
    </quill-editor>
  </div>


  	<button
      style="width: 90%; background-color: var(--tui-background-accent-2); color: white;"
	    tuiButton
      class="lumen-font-small"
	    type="button">
	    Save Deck
	</button>
</section>
}

	<div class="navigation-buttons"
	    tuiAppearance="floating"
      style="width: 90%; margin-top: 3rem;"
	    tuiButtonGroup
	>
	    <button type="button" (click)="navigateLeft()">
	        <tui-icon icon="@tui.circle-arrow-left" />
	        Previous
	    </button>
	 
	    <button type="button" (click)="navigateRight()">
	        <tui-icon icon="@tui.circle-arrow-right" />
	        Next
	    </button>
	</div>
