<a
  iconStart="@tui.chevron-left"
  tuiLink
  [textContent]="'Back'"
  (click)="navigateBack()"
></a>

<tui-stepper [activeItemIndex]="activeIndex()" style="width: 90%; margin-top: 3rem;" 
orientation="horizontal"
tuiConnected
>
    <button tuiStep [disabled]="true" class="step">Choose Deck</button>
    <button tuiStep [disabled]="true" class="step">Card Front</button>
    <button tuiStep [disabled]="true" class="step">Card Back</button>
    <button tuiStep [disabled]="true" class="step">Summary</button>

</tui-stepper>

<br>

@if (activeIndex()==0) {

  <h1 class="lumen-font"> Pick a Deck</h1>
<tui-textfield tuiChevron [stringify]="stringify" style="width: 90%;">
  <input 
    class="lumen-font-small"
    placeholder="Browse Decks"
    tuiComboBox
    [ngModel]="selectedDeck()"
    (ngModelChange)="onDeckSelect($event)"
  />
  <tui-data-list-wrapper
      *tuiTextfieldDropdown
      new
      [items]="decks() | tuiFilterByInput"
  />
  <button type="button" tuiButton (click)="showDialog()">
    <tui-icon
      icon="@tui.plus"
      style="color: var(--tui-status-positive); pointer-events: none"
    />
  </button>
</tui-textfield>

	 

	<ng-template
	    let-observer
	    [tuiDialogOptions]="{label: 'Create new deck', size: 'm'}"
	    [(tuiDialog)]="modalOpen"
	>
    <tui-textfield style="margin-top: 2rem;">
      <input
      style="width: 100%;"
        tuiTextfield
        class="lumen-font"
        placeholder="Deck Name"
        [(ngModel)]="newDeckName"
      />
    </tui-textfield>
	            <button style="margin-top: 2rem; width: 100%; background-color: var(--tui-background-accent-2); color: white;"
	                tuiButton
                  (click)="saveDeck()"
                  [disabled]="(savingDeck() || !newDeckName())"
	                type="submit"
	            >
	                Save
	            </button>
	</ng-template>

}
@if (activeIndex()==1) {
<section id="frontCardSection">

<quill-editor
  class="quill"
  [ngModel]="form.value.frontContent"
  (ngModelChange)="onFrontChange($event)"
  [modules]="modules"
  theme="snow"
  [sanitize]="true">
</quill-editor>

</section>

}

@if (activeIndex()==2) {
<section id="backCardSection">

<quill-editor
  class="quill"
  [ngModel]="form.value.backContent"
  (ngModelChange)="onBackChange($event)"
  [modules]="modules"
  theme="snow"
  [sanitize]="true">
</quill-editor>

  {{backhtml}}
</section>
}

@if (activeIndex()==3) {
<section id="summarySection" style="margin-top: 2rem; display: flex; flex-direction: column; gap: 2rem;">

<tui-textfield>
<input
    tuiTextfield
    [value]="selectedDeckName"
    [readOnly]="true"
/>
</tui-textfield>

<quill-editor
  [ngModel]="form.value.frontContent"
  [readOnly]="true"
  [modules]="{ toolbar: false }"
></quill-editor>

<quill-editor
  [ngModel]="form.value.backContent"
  [readOnly]="true"
  [modules]="{ toolbar: false }"
></quill-editor>

  	<button (click)="saveCard()"
    [disabled]="form.invalid"
      style="width: 90%; background-color: var(--tui-background-accent-2); color: white;"
	    tuiButton
      class="lumen-font-small"
	    type="button">
	    Save Deck
      
	</button>
</section>
}

	<div class="navigation-buttons"
	    tuiAppearance="floating"
      style="width: 90%; margin-top: 3rem;"
	    tuiButtonGroup
	>
	    <button type="button" (click)="navigateLeft()">
	        <tui-icon icon="@tui.circle-arrow-left" />
	        Previous
	    </button>
	 
	    <button type="button" (click)="navigateRight()">
	        <tui-icon icon="@tui.circle-arrow-right" />
	        Next
	    </button>
	</div>
