/* You can add global styles to this file, and also import other style files */
@import "quill/dist/quill.snow.css";

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lumen-font {
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
}

.lumen-font-small {
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  font-size: smaller;
}
.divider {
  margin: 3rem 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.35),
    transparent
  );
}

/* VARIABLES */
:root {
  --sidenav-hover-bg:
    radial-gradient(
      circle at top,
      rgba(56, 189, 248, 0.12),
      transparent 60%
    ),
    linear-gradient(
      180deg,
      #020617 0%,
      #0b1220 100%
    );
}


/* THEME CONFIG */
[tuiTheme='dark'] {
  --tui-background-accent-2: #7c3aed !important; /* ACCENT COLOR */
 --tui-background-neutral-1-hover: var(--sidenav-hover-bg) !important; /* HOVER / SELECTED NAVBAR */
}

[tuiTheme='light'] {
  --tui-background-accent-2: #7c3aed !important;
  --tui-background-neutral-1-hover: var(--sidenav-hover-bg) !important;
}


